<!-- umeditor -->
<link href="include/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="include/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="include/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="include/umeditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/plain" id="content" name="content" style="width:780px;height:300px;">{$page.content}</script>
<script type="text/javascript">
    //实例化编辑器
    var um = UM.getEditor('content');
</script>
<!-- /umeditor -->